@import "../node_modules/normalize.css/normalize.css";

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url(../assets/fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url(../assets/fonts/Inter-Bold.ttf) format("truetype");
}

html {
  font-family: "Inter";
}
